# Python -02

revision:
what is python and how to read/write file
pandas to read file or write file
    - read_csv, to_csv .. etc

data type:
    - integer: 1,2,3
    - float: 1.23, 3.23, 3.14
    - String: "hello, world"
    - bool: True/False

In [1]:
# use type() to check the data type
x = 1
type(x)

int

In [2]:
y = 3.1482736
type(y)

float

In [3]:
z = "Hello World"
type(z)

str

In [4]:
l = True # must be True / False 
type(l)

bool

## Assignment
to assignment value to a variable
x = y 
put y into x.

In [5]:
# two type of assignment method
z = 3
x, y = 1, 5
print('z:', z)
print('x:', x)
print('y:', y)

z: 3
x: 1
y: 5

In [11]:
# can assignment 
x, y = [1,2] #[1,2] is a list 
print('x:', x)
print('y:', y)
type(x)

x: 1
y: 2

int

In [10]:
# as string is composed by char list
x, y = '12' #string
print('x:', x)
print('y:', y)
type(x)

x: 1
y: 2

str

## Logical stuff
==, !=, >, <, >=, <=

In [12]:
# == is equal?
3 == 3

True

In [16]:
# !=  is not equal 
print('bbb' == 3)
print('ccc' != 4)

False
True

In [21]:
# > , >= greater , greater or equal to
b = 5
c = 6
c > b

True

In [20]:
# < , <= less , less or equal to
b = 5
c = 6
b < c

True

## Type Casting
str(), float(), int()

In [23]:
x = 1 
y = str(x)
y # type = string

'1'

In [24]:
y = float(x)
y #type = float

1.0

In [26]:
y = 3.5555
int(y)

3

In [28]:
z = '3.14'

x = float(z)
y = int(x)
print('y:', y)
print('x:', x)

y: 3
x: 3.14

## calculation with variable
+, - , * , /, %

In [30]:
x = 2
y = 3
print('+',x+y)
print('-',x*y)
print('*',x-y)
print('/',x/y)
print('%',x%y)

+ 5
- 6
* -1
/ 0.6666666666666666
% 2

In [32]:
x = '*'
y = '/'
print(x+y) # string concatenate
print(x*3) # print multiple times of the string

*/
***

In [33]:
x = 2
x += 7 # x = x + 7 , x -= 7 --> x = x - 7 
x

9

In [34]:
x = 1
y = 8
x += y
print(x,y)  # y = 8 , x = 9

9 8

In [35]:
x = 1
y = 8
x =+ y # which read as positive y only
print(x,y)  # y = 8 , x = 8

8 8

In [36]:
x = 2
y = 3 
x**y # 2^3 to the power of y

8

In [37]:
pow(2,3) #2^3

8

In [38]:
round(3.145555, 2) #close to the dec. pt. round(value, decemial place)

3.15

In [39]:
abs(-2.535) # absolute value --> return absolute positive value

2.535

## Math package

In [40]:
import math

In [41]:
math.log(2)

0.6931471805599453

In [43]:
math.pi

3.141592653589793

In [44]:
math.log10(2) #base 10

0.3010299956639812

In [45]:
math.log(8,2) #log(value, base)

3.0

In [46]:
math.exp(2)

7.38905609893065

In [47]:
math.sqrt(4) #square root

2.0

In [48]:
math.e

2.718281828459045

In [49]:
math.sin(90)

0.8939966636005579

In [50]:
math.cos(45)

0.5253219888177297

In [53]:
math.tan(60)

0.320040389379563

In [54]:
math.modf(2.545) # divided the integer part and decimal part

(0.5449999999999999, 2.0)

In [56]:
sum([.1,.1,.1,.1,.1,.1,.1,.1,.1,.1]) # 10 th 0.1

0.9999999999999999

In [57]:
math.fsum([.1,.1,.1,.1,.1,.1,.1,.1,.1,.1,])

1.0

### Exercise 1

In [64]:
x,y,z = 1.6,2,3.4546
x,y,z = [1,2,3]
print(x,y,z)

1 2 3

### Exercise 2

In [70]:
x,y,z = 1, 2.0, 3.45
print('x:',x, type(x))
print('y:',y, type(y))
print('z:',z, type(z))

x: 1 <class 'int'>
y: 2.0 <class 'float'>
z: 3.45 <class 'float'>

### Exercise 3

In [73]:
x,y,z = [1,2,3]
print('x:',x,type(x))
print('y:',float(y),type(float(y)))
print('z:',float(z+0.45),type(float(z+0.45)))

x: 1 <class 'int'>
y: 2.0 <class 'float'>
z: 3.45 <class 'float'>