# Python 01


lesson1 : intro of python, packtage, how to read/write file
lesson2 : intro of data type, simple calculation of those data
lesson3 : varible type( list, dictionary..)
lesson4 : condition, for loop , while loop
lesson5&6 : introduce package -- pandans
lesson7 : matpoltlib for drawing chart.
lesson8 : different varible how to modify the chart.
lesson9&10 : focus on how to get data and chart, how to code and exercise.

what is python, why have to learn?
adv.
1. can be used in various field or function.
2. no other langage that can completely substitute it.
3. easy to write, understand. suit for newbie. deep learning, NLP, ML, data science

jupyter notebook
adv.
1. convience,
+ add cell, can choose for code, makedown( #-for font size space, cut for del cell. file-> new notebook)
can be save as html, pdf etc.

### To update pip

In [2]:
!pip install --upgrade pip
# after upgrade the pip --> pip3

Collecting pip
  Downloading https://files.pythonhosted.org/packages/c2/d7/90f34cb0d83a6c5631cf71dfe64cc1054598c843a92b400e55675cc2ac37/pip-18.1-py2.py3-none-any.whl (1.3MB)
    100% |████████████████████████████████| 1.3MB 486kB/s ta 0:00:01
Installing collected packages: pip
Successfully installed pip-18.1

### To install package in Jupyter.

In [1]:
!pip install numpy

Collecting numpy
  Using cached https://files.pythonhosted.org/packages/40/c5/f1ed15dd931d6667b40f1ab1c2fe1f26805fc2b6c3e25e45664f838de9d0/numpy-1.15.2-cp27-cp27mu-manylinux1_x86_64.whl
Installing collected packages: numpy
Successfully installed numpy-1.15.2

In [9]:
!pip3 install pandas

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/e1/d8/feeb346d41f181e83fba45224ab14a8d8af019b48af742e047f3845d8cff/pandas-0.23.4-cp36-cp36m-manylinux1_x86_64.whl
Collecting python-dateutil>=2.5.0 (from pandas)
  Using cached https://files.pythonhosted.org/packages/cf/f5/af2b09c957ace60dcfac112b669c45c8c97e32f94aa8b56da4c6d1682825/python_dateutil-2.7.3-py2.py3-none-any.whl
Collecting pytz>=2011k (from pandas)
  Using cached https://files.pythonhosted.org/packages/30/4e/27c34b62430286c6d59177a0842ed90dc789ce5d1ed740887653b898779a/pytz-2018.5-py2.py3-none-any.whl
Collecting numpy>=1.9.0 (from pandas)
  Using cached https://files.pythonhosted.org/packages/22/02/bae88c4aaea4256d890adbf3f7cf33e59a443f9985cf91cd08a35656676a/numpy-1.15.2-cp36-cp36m-manylinux1_x86_64.whl
Collecting six>=1.5 (from python-dateutil>=2.5.0->pandas)
  Using cached https://files.pythonhosted.org/packages/67/4b/141a581104b1f6397bfa78ac9d43d8ad29a7ca43ea90a2d863fe3056e86a/six-1.11.0-py2.py3-none-any.whl
Installing collected packages: six, python-dateutil, pytz, numpy, pandas
Successfully installed numpy-1.15.2 pandas-0.23.4 python-dateutil-2.7.3 pytz-2018.5 six-1.11.0

In [11]:
!pip3 install matplotlib

Collecting matplotlib
  Using cached https://files.pythonhosted.org/packages/ed/89/dd823436a5f8d5ca9304b51b554863bfd366ca84708d5812f5ee87c923bc/matplotlib-3.0.0-cp36-cp36m-manylinux1_x86_64.whl
Collecting kiwisolver>=1.0.1 (from matplotlib)
  Using cached https://files.pythonhosted.org/packages/69/a7/88719d132b18300b4369fbffa741841cfd36d1e637e1990f27929945b538/kiwisolver-1.0.1-cp36-cp36m-manylinux1_x86_64.whl
Collecting python-dateutil>=2.1 (from matplotlib)
  Using cached https://files.pythonhosted.org/packages/cf/f5/af2b09c957ace60dcfac112b669c45c8c97e32f94aa8b56da4c6d1682825/python_dateutil-2.7.3-py2.py3-none-any.whl
Collecting numpy>=1.10.0 (from matplotlib)
  Using cached https://files.pythonhosted.org/packages/22/02/bae88c4aaea4256d890adbf3f7cf33e59a443f9985cf91cd08a35656676a/numpy-1.15.2-cp36-cp36m-manylinux1_x86_64.whl
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 (from matplotlib)
  Using cached https://files.pythonhosted.org/packages/2b/4a/f06b45ab9690d4c37641ec776f7ad691974f4cf6943a73267475b05cbfca/pyparsing-2.2.2-py2.py3-none-any.whl
Collecting cycler>=0.10 (from matplotlib)
  Using cached https://files.pythonhosted.org/packages/f7/d2/e07d3ebb2bd7af696440ce7e754c59dd546ffe1bbe732c8ab68b9c834e61/cycler-0.10.0-py2.py3-none-any.whl
Collecting setuptools (from kiwisolver>=1.0.1->matplotlib)
  Using cached https://files.pythonhosted.org/packages/96/06/c8ee69628191285ddddffb277bd5abdf769166e7a14b867c2a172f0175b1/setuptools-40.4.3-py2.py3-none-any.whl
Collecting six>=1.5 (from python-dateutil>=2.1->matplotlib)
  Using cached https://files.pythonhosted.org/packages/67/4b/141a581104b1f6397bfa78ac9d43d8ad29a7ca43ea90a2d863fe3056e86a/six-1.11.0-py2.py3-none-any.whl
Installing collected packages: setuptools, kiwisolver, six, python-dateutil, numpy, pyparsing, cycler, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.0.1 matplotlib-3.0.0 numpy-1.15.2 pyparsing-2.2.2 python-dateutil-2.7.3 setuptools-40.4.3 six-1.11.0

### vitrul environment -- if needed.

In [2]:
#import package and as for nameing
import numpy as np
import pandas as pd 
import matplotlib

## using "open" to read file

In [16]:
#open(path, r=read), same directory just name, otherwise absolute path
file = open('data.txt', 'r')
print(file.read())

,A,B,

In [14]:
file = open('data.txt', 'r')
print(file.readlines())

[',A,B,C,D\n', '\n', '0,foo,one,small,1\n', '1,foo,one,large,2\n', '2,foo,one,large,8\n', '3,foo,two,small,3\n', '4,foo,two,small,3\n', '5,bar,one,large,4\n', '6,bar,one,small,5\n', '7,bar,two,small,6\n', '8,bar,two,large,7']

#### read() 
just directly read the content of file
##### read(5) 
from left to right, the first 5 data. but cannot get the specific line of data.
#### readlines()
make the data in file to list
##### readlines()[5]
can get the whole line of data.

In [18]:
file = open('data.txt', 'r')
i = 1 
for line in file:
    print('read line', i)
    i += 1
    print(line)
# use for modifying the file

read line 1
,A,B,C,D

read line 2


read line 3
0,foo,one,small,1

read line 4
1,foo,one,large,2

read line 5
2,foo,one,large,8

read line 6
3,foo,two,small,3

read line 7
4,foo,two,small,3

read line 8
5,bar,one,large,4

read line 9
6,bar,one,small,5

read line 10
7,bar,two,small,6

read line 11
8,bar,two,large,7

## write file

In [28]:
file = open('hello.txt','w') # w = write
file.write('Hello,World!') #write into the file content
file.write('it is a rainy day')
file.close() #saving it to file
# it will write it in the same line.

In [29]:
file = open('hello.txt','r')
file.readlines()

['Hello,World!it is a rainy day']

In [32]:
file = open('hello.txt','w') # w = write
file.write('Hello,World!\n') #\n for next line
file.write('it is a rainy day')
file.close() #saving it to file

In [34]:
file = open('hello.txt','r')
for line in file:
    print(line)

Hello,World!

it is a rainy day

#### open is suit for txt file 
#### pandas is better to read large amount of data

## using Pandas to read file

In [4]:
#import pandas as pd
df = pd.read_csv('data.csv') #reading csv (path)
df

   Unnamed: 0    A    B      C  D
0           0  foo  one  small  1
1           1  foo  one  large  2
2           2  foo  one  large  8
3           3  foo  two  small  3
4           4  foo  two  small  3
5           5  foo  one  large  4
6           6  bar  one  small  5
7           7  bar  two  small  6
8           8  bar  two  large  7

pandas have its own index
#### tell pandas which column is index

In [8]:
df = pd.read_csv('data.csv',index_col = 0) 
df

     A    B      C  D
0  foo  one  small  1
1  foo  one  large  2
2  foo  one  large  8
3  foo  two  small  3
4  foo  two  small  3
5  foo  one  large  4
6  bar  one  small  5
7  bar  two  small  6
8  bar  two  large  7

In [12]:
!pip3 install xlrd  # for supporting excel file

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/07/e6/e95c4eec6221bfd8528bcc4ea252a850bffcc4be88ebc367e23a1a84b0bb/xlrd-1.1.0-py2.py3-none-any.whl (108kB)
    100% |████████████████████████████████| 112kB 1.4MB/s ta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.1.0

In [13]:
df = pd.read_excel('data.xlsx')
df

     A    B      C  D
0  foo  one  small  1
1  foo  one  large  2
2  foo  one  large  8
3  foo  two  small  3
4  foo  two  small  3
5  foo  one  large  4
6  bar  one  small  5
7  bar  two  small  6
8  bar  two  large  7

In [14]:
df = pd.read_table('data.txt') # reading a txt file
df

            ,A,B,C,D
0  0,foo,one,small,1
1  1,foo,one,large,2
2  2,foo,one,large,8
3  3,foo,two,small,3
4  4,foo,two,small,3
5  5,bar,one,large,4
6  6,bar,one,small,5
7  7,bar,two,small,6
8  8,bar,two,large,7

there is always dataframe in pandas, the default format is by line to distingish each row.

In [16]:
# sep ='' --> separator by ' ' 
df = pd.read_table('data.txt', sep =',', index_col = 0) 
df

     A    B      C  D
0  foo  one  small  1
1  foo  one  large  2
2  foo  one  large  8
3  foo  two  small  3
4  foo  two  small  3
5  bar  one  large  4
6  bar  one  small  5
7  bar  two  small  6
8  bar  two  large  7

In [17]:
df.to_csv('dat.csv') #--> saving an csv file
df.to_csv('dat.txt') #--> saving a txt file
df.to_excel('dat.xlsx') #-->saving an excel file

## Reading a complex txt file:

In [35]:
df = pd.read_table('data1.txt',
                   sep=',',
                   skiprows = [0,1,2,3], #skip the first 4 rows
                   header = None, #there is no header in file
                   names = ['n1','n2','n3','n4','message'], #make up a header for each col
                   index_col = ['message'],
                   nrows = 5, # tells pandas 5 record in a row
                  )
df

         n1  n2  n3  n4
message
hello     1   2   3   4
world     5   6   7   8
hello     9  10  11  12
hello     1   2   3   4
good      5   6   7   8

For more info of pandas:
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html