# Python -03
## Learning about different data type
list = [1,23,4,5,6,7]
tuple = ('a',1.22,3)
set = {1,2,3,'s'} --> those data will be unique
dictionary = {key:value}

## List

In [1]:
# size of the list
x = [1,2,3,4,5,6,7,5]
len(x)

8

In [2]:
#to get the data: 6
x[5]

6

In [3]:
# change the data
x[7] = 8
x

[1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
# get from [start: before end] e.g. 4 - 7
x[3:5]

[4, 5]

In [11]:
x[3:6:2] # [start:b4 end: skip]

[4, 6]

In [12]:
x[:-1] # not include the last one

[1, 2, 3, 4, 5, 6, 7]

In [13]:
x[::-1] #reverse list

[8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
x[::-2] # reverse list and skip by 2

[8, 6, 4, 2]

In [15]:
3 in x # check it is in the list

True

In [16]:
0 in x

False

In [21]:
# sorting sort()
x = [1,22,4,57,8,59,10]
# build a new sorted list & can be usesd in other datatype
print(sorted(x)) 
print(x)

[1, 4, 8, 10, 22, 57, 59]
[1, 22, 4, 57, 8, 59, 10]

In [22]:
print(x.sort()) #sort within the list & only for list type
print(x)

None
[1, 4, 8, 10, 22, 57, 59]

In [23]:
sorted(x,reverse = True) # Decending

[59, 57, 22, 10, 8, 4, 1]

#### difference between sort() & sorted()
sort() will change the data sequence within the list
sorted() will new a list with sorted

In [24]:
x

[1, 4, 8, 10, 22, 57, 59]

In [29]:
x.extend([13,19,11])
x

[1, 4, 8, 10, 22, 57, 59, 9, 19, 11, 9, 19, 11, 13, 19, 11]

In [30]:
x.append([15,16,17])
x

[1, 4, 8, 10, 22, 57, 59, 9, 19, 11, 9, 19, 11, 13, 19, 11, [15, 16, 17]]

### difference between append() & extend()
append() will insert a new entired data into the list
e.g. if append([1,3,4,5]) the orgin list will be appended like [1,[1,3,4,5]]

extend() just make it all tgt and only one list in it.

## tuple

In [31]:
t = (1,2,3,4)
type(t)

tuple

## Exercise 1

In [105]:
import numpy as np
np.random.seed(0)
A = np.random.randn(40)
A[np.argsort(A)[-10:]]
#sorting the numpy array and print it from the last 10 elements

array([1.20237985, 1.23029068, 1.45427351, 1.46935877, 1.49407907,
       1.53277921, 1.76405235, 1.86755799, 2.2408932 , 2.26975462])

## Exercise 2

In [78]:
B = [4,7,2,4,8,8,10,4]
B.insert(4,6) # insert(index, data)
B[3] = 6
B

[4, 7, 2, 6, 6, 8, 8, 10, 4]

## Exercise 3

In [112]:
C = {'10':[1], '2':[1],'4':[],'6':[2],'7':[10],'9':[0]}
C

{'10': [1], '2': [1], '4': [], '6': [2], '7': [10], '9': [0]}

In [113]:
for data in B:
    C[str(data)] = [B.count(data)]
for key in list(C.keys()): # make those keys become list
    if int(key) not in B:
       del C[key]
C

# Runtime error :dictionary changed size during iteration!

{'10': [1], '2': [1], '4': [2], '6': [2], '7': [1], '8': [2]}