# Python -03
## Learning about different data type
list = [1,23,4,5,6,7]
tuple = ('a',1.22,3)
set = {1,2,3,'s'} --> those data will be unique
dictionary = {key:value}

## List

In [1]:
# size of the list
x = [1,2,3,4,5,6,7,5]
len(x)

8

In [2]:
#to get the data: 6
x[5]

6

In [3]:
# change the data
x[7] = 8
x

[1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
# get from [start: before end] e.g. 4 - 7
x[3:5]

[4, 5]

In [11]:
x[3:6:2] # [start:b4 end: skip]

[4, 6]

In [12]:
x[:-1] # not include the last one

[1, 2, 3, 4, 5, 6, 7]

In [13]:
x[::-1] #reverse list

[8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
x[::-2] # reverse list and skip by 2

[8, 6, 4, 2]

In [15]:
3 in x # check it is in the list

True

In [16]:
0 in x

False

In [7]:
# sorting sort()
x = [1,22,4,57,8,59,10]
# build a new sorted list & can be usesd in other datatype
print(sorted(x)) 
print(x)

[1, 4, 8, 10, 22, 57, 59]
[1, 22, 4, 57, 8, 59, 10]

In [22]:
print(x.sort()) #sort within the list & only for list type
print(x)

None
[1, 4, 8, 10, 22, 57, 59]

In [23]:
sorted(x,reverse = True) # Decending

[59, 57, 22, 10, 8, 4, 1]

#### difference between sort() & sorted()
sort() will change the data sequence within the list
sorted() will new a list with sorted

In [24]:
x

[1, 4, 8, 10, 22, 57, 59]

In [29]:
x.extend([13,19,11]) # also for tuple 
x

[1, 4, 8, 10, 22, 57, 59, 9, 19, 11, 9, 19, 11, 13, 19, 11]

In [30]:
x.append([15,16,17])
x

[1, 4, 8, 10, 22, 57, 59, 9, 19, 11, 9, 19, 11, 13, 19, 11, [15, 16, 17]]

### difference between append() & extend()
append() will insert a new entired data into the list
e.g. if append([1,3,4,5]) the orgin list will be appended like [1,[1,3,4,5]]

extend() just make it all tgt and only one list in it.

In [4]:
# effect same as append()
c =[1,2,3] 
c += [4] # must at the same datatype
c += [(4,5)] # c = c + [(4,5)]
c

[1, 2, 3, 4, (4, 5)]

In [8]:
x.count(8) # counting the data appear times

1

## tuple

len(), sorted()

In [9]:
t =()
type(t)

tuple

In [11]:
t = (1,2,3,4)
len(t)

4

In [2]:
#indexing
t = (1,13,4,5,6,7,2,3)
t[1]

13

In [20]:
sorted(t,reverse = True)

[13, 7, 6, 5, 4, 3, 2, 1]

In [22]:
t[0:3]

(1, 13, 4)

In [14]:
t[::-1]

(3, 2, 7, 6, 5, 4, 13, 1)

In [30]:
print(t)
t[:-2] #no need the end few numbers

(1, 13, 4, 5, 6, 7, 2, 3)

(1, 13, 4, 5, 6, 7)

In [31]:
print(t)
t[-5:] #get the last 5 items

(1, 13, 4, 5, 6, 7, 2, 3)

(5, 6, 7, 2, 3)

In [33]:
# adding items into tuple
t += (15,14)
t

(1, 13, 4, 5, 6, 7, 2, 3, 15, 14, 15, 14)

In [34]:
t += (3,) #as there is a tuple but there is only 1 data
t

(1, 13, 4, 5, 6, 7, 2, 3, 15, 14, 15, 14, 3)

## tuple V.S List
tuple cannot change the items once the tuple is created
list can change the items inside it even the list is created

In [35]:
t[0] = 11 #cannot item assignment
t

TypeError: 'tuple' object does not support item assignment

In [ ]:
#sorting

In [ ]:
#no sort() but sorted()

In [36]:
sorted(t) #created a list for sorting

[1, 2, 3, 3, 4, 5, 6, 7, 13, 14, 14, 15, 15]

### Set 
The data in set is unique.
set = {1,2,3}
but 
s ={} will return a dict
for searching a specific data in a set

In [71]:
r = set()
type(r)

set

In [72]:
r = {1,2,3,4,4,4,5,5,3,2,1}
r

{1, 2, 3, 4, 5}

In [74]:
r2 = set([1,2,2,3,4,5,6,7,5,6,7,])
r2

{1, 2, 3, 4, 5, 6, 7}

In [75]:
8 in r

False

In [76]:
7 in r2

True

### Dictionary
{key : value}

In [37]:
d = {}
type(d)

dict

In [38]:
z ={'1':'hi','3':[1,2],'hi':(1,2,3),'sss':'2'}
z

{'1': 'hi', '3': [1, 2], 'hi': (1, 2, 3), 'sss': '2'}

In [39]:
#indexing
z[0] #not by position

KeyError: 0

In [40]:
z['1']

'hi'

In [41]:
z['hi']

(1, 2, 3)

In [56]:
d ={'name':[1,3,4],'course':[5,6,7],'hobby':[34,4,5]}
d

{'name': [1, 3, 4], 'course': [5, 6, 7], 'hobby': [34, 4, 5]}

In [45]:
len(d) # how many key-value pair of data

3

In [59]:
import pandas as pd # visalization of data
pd.DataFrame(d,index=['number',2,3]) #index=[]<-- number of rows

        name  course  hobby
number     1       5     34
2          3       6      4
3          4       7      5

In [60]:
#change the value
d['name'] =  'margo'
d

{'name': 'margo', 'course': [5, 6, 7], 'hobby': [34, 4, 5]}

In [62]:
# Add the new key-value into the dictionary
d['gender'] = 'female'
d

{'name': 'margo', 'course': [5, 6, 7], 'hobby': [34, 4, 5], 'gender': 'female'}

In [63]:
# functions for dict
d.keys() # check all key name

dict_keys(['name', 'course', 'hobby', 'gender'])

In [64]:
d.values() #check all value in the dict

dict_values(['margo', [5, 6, 7], [34, 4, 5], 'female'])

In [68]:
d.items() # listing all of item into a list
for k, v in d.items():
    if v == 'female':
        print(k)

gender

In [70]:
#del dict item
del d['gender']
d

{'course': [5, 6, 7], 'hobby': [34, 4, 5]}

## Exercise 1

In [105]:
import numpy as np
np.random.seed(0)
A = np.random.randn(40)
A[np.argsort(A)[-10:]]
#sorting the numpy array and print it from the last 10 elements

array([1.20237985, 1.23029068, 1.45427351, 1.46935877, 1.49407907,
       1.53277921, 1.76405235, 1.86755799, 2.2408932 , 2.26975462])

## Exercise 2

In [78]:
B = [4,7,2,4,8,8,10,4]
B.insert(4,6) # insert(index, data)
B[3] = 6
B

[4, 7, 2, 6, 6, 8, 8, 10, 4]

## Exercise 3

In [112]:
C = {'10':[1], '2':[1],'4':[],'6':[2],'7':[10],'9':[0]}
C

{'10': [1], '2': [1], '4': [], '6': [2], '7': [10], '9': [0]}

In [113]:
for data in B:
    C[str(data)] = [B.count(data)]
for key in list(C.keys()): # make those keys become list
    if int(key) not in B:
       del C[key]
C

# Runtime error :dictionary changed size during iteration!

{'10': [1], '2': [1], '4': [2], '6': [2], '7': [1], '8': [2]}